
.main{
    display: flex;
}
.preview{
    margin-top: 175px;
}
.img_preview{
    border-left: 2px solid #4C197E;
    padding-left: 30px;
}

.main .btn{ 
    font: 18px 'Dosis', sans-serif;
    border: 2px solid #8995FF;
    background: rgba(146,6,255,1);
    background: -moz-linear-gradient(top, rgba(146,6,255,1) 0%, rgba(75,92,249,0.32) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(146,6,255,1)), color-stop(100%, rgba(75,92,249,0.32)));
    background: -webkit-linear-gradient(top, rgba(146,6,255,1) 0%, rgba(75,92,249,0.32) 100%);
    background: -o-linear-gradient(top, rgba(146,6,255,1) 0%, rgba(75,92,249,0.32) 100%);
    background: -ms-linear-gradient(top, rgba(146,6,255,1) 0%, rgba(75,92,249,0.32) 100%);
    background: linear-gradient(to bottom, rgba(146,6,255,1) 0%, rgba(75,92,249,0.32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9206ff', endColorstr='#4b5cf9', GradientType=0 );
    border-radius: 21px;
    color:#fff;
    display: block;
    width: 215px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    transition: btn 5s ease;
    margin-top: 18px;
    box-shadow: 0px 4px 20px #000000;
    height: 57px;
}

.main .btn:hover{
    color: plum;
    background: rgba(111,10,194,1);
    background: -moz-linear-gradient(top, rgba(111,10,194,1) 0%, rgba(37,59,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(111,10,194,1)), color-stop(100%, rgba(37,59,250,1)));
    background: -webkit-linear-gradient(top, rgba(111,10,194,1) 0%, rgba(37,59,250,1) 100%);
    background: -o-linear-gradient(top, rgba(111,10,194,1) 0%, rgba(37,59,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(111,10,194,1) 0%, rgba(37,59,250,1) 100%);
    background: linear-gradient(to bottom, rgba(111,10,194,1) 0%, rgba(37,59,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f0ac2', endColorstr='#253bfa', GradientType=0 );
}


.img_photo{
    margin-top: 100px;
    margin-left: 100px;
}