body{
    font-size: 15px;
    margin: 0;
    padding: 0;
    background: url('/img/Без имени-1.jpg') no-repeat center;
    background-size: 100%;
}

div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 900;
}


